* {
    box-sizing: border-box;
    margin: 0;
}

.html,body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100vh;
    background: url(img/1618427790_22-phonoteka_org-p-zimnii-novogodnii-fon-29.jpg) no-repeat center / cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.compliment {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 55%;
    margin-bottom: 20px;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid black 5px;
    border-radius: 20px;

}
.compliment__text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    
}
.compliment__title {
    margin-top: 0px;
    margin-bottom: 50px;
    
}

.compliment__title-name {
}
.myForm {  
}

input[type='text'] {
    outline: none;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    color: red;
    font-weight: bold;
}

#userName{   
}

input[type='text'] {
    font-weight: 400px;
}

#button{
    width: 150px;
    height: 50px;
    padding: 4px;
    background-color: #ff0000;
    color: black;
    border-radius: 10px;
    color: aliceblue;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}

.form__row {
    margin-bottom: 20px;
}